@font-face{
    font-family: Nero;
    src: url(Fonts/Nero-gaoR.ttf)    
}
@font-face {
    font-family: Xolonium;
    src: url(Fonts/Xolonium-pn4D.ttf)
}


h1{
    font-family: Nero;
}

p{
    font-family: Xolonium;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(51, 44, 53);
    color: darkorange;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
table{
    border-color: orange;
}
th{
    font-family: Nero;
    color:orange;
    letter-spacing:3px;
    
}
tr{
    font-family:Xolonium;
    color:darkorange;
}

a{
    color: orange;
    text-decoration:none;
}
a:hover{
    color: lemonchiffon;
}

/*hr{
    border: solid 2px darkorange;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-image: url(Images/Rock.png);
    background-repeat: repeat;
    
}

button{
    background-color:transparent;
    border-color:transparent;
}