<article>
    <h1>About Abyss Run</h1>

    <p>Abyss Run is a 2d action platformer that was originally created as a final project for CIT131 at Northwestern Michigan Collage.</p>

    <h2>Story</h2>
    <p></p>
    <h2>Gameplay</h2>
    <p></p>   
</article>
