<section class="jumbotron"><h1>Contact</h1></section>

<section class="row">
    <article class="col-md-4 row">
        <p>Itch IO: <span class="icon-bar"><a href="https://strategistn8.itch.io/"><i class="fab fa-itch-io"></i></a></span></p>
        <p> You can play the original project here, enjoy!</p>
    </article>
    <article class="col-md-4 row">
        <p>
            NMC IT Facebook:
            <span class="icon-bar"><a href="https://www.facebook.com/CIT.NMC/?ref=bookmarks"><i class="fab fa-facebook-square"></i></a></span>
        </p>
    </article>
    <article class="col-md-4 row">
        <p>Linked In: 
        <span class="icon-bar"><a href="https://www.linkedin.com/in/jameslyons-stratn8/"><i class="fab fa-linkedin"></i></a></span></p>
    </article>
</section>
