<section class="jumbotron"><h1>Contact</h1></section>

<section class="row-cols-lg-1">
    <h2>Links</h2>
    <span class="icon-bar"><a href="https://strategistn8.itch.io/"><i class="fab fa-itch-io"></i></a></span>
    <span class="icon-bar"><a href="https://www.facebook.com/CIT.NMC/?ref=bookmarks"><i class="fab fa-facebook-square"></a></i></span>
    <span class="icon-bar"><a href="https://www.linkedin.com/in/jameslyons-stratn8/"><i class="fab fa-linkedin"></i></a></span>
</section>