@{
    ViewBag.Title = "Home Page";
}

<section class="jumbotron" style="background-image:url(../../Content/Images/GR03.PNG); background-repeat:no-repeat; background-size:cover;">
    <h1>Abyss Run</h1>
</section>