@{
    ViewBag.Title = "Home Page";
}

<section class="jumbotron" style="background-image:url(../../Content/Images/GR03.PNG); background-repeat:no-repeat; background-size:cover;">
    <h1>Abyss Run</h1>
</section>


<hr/>
<section class="row" style="background-color:black; border-radius:10px; background-image:url(../../Content/Images/Glyphs.png); background-repeat:repeat-y; background-size:initial; background-position:right;">

    <img src="~/Content/Images/Screen1.PNG" style="width:25%; height:25%; border: 2px solid darkorange; margin: 2%;border-radius:10px;">

    <img src="~/Content/Images/Screen3.png" style="width:25%; height:25%; border: 2px solid darkorange; margin: 2%;border-radius:10px;">

    <img src="~/Content/Images/Screen2.png" style="width:25%; height:25%; border: 2px solid darkorange; margin: 2%;border-radius:10px;">

    <img src="~/Content/Images/Screen4.PNG" style="width:25%; height:25%; border: 2px solid darkorange; margin: 2%;border-radius:10px;">

    <img src="~/Content/Images/Screen5.PNG" style="width:25%; height:25%; border: 2px solid darkorange; margin: 2%;border-radius:10px;">

    <img src="~/Content/Images/GR04.PNG" style="width:25%; height:25%; border: 2px solid darkorange; margin: 2%;border-radius:10px;">

</section>